.square {
    width: 30%;
    background: purple;
    padding-bottom: 30%;
    float: left;
    margin: 1.66%;
    border-radius: 50%;
    transition: background 0.6s;
    --webkkit-transition: background 0.6s;
    --moz-transition: background 0.6s;
}

body {
    background-color: #232323;
    margin: 0;
    font-family: "Montserrat" , "Avenir";
}

#container {
    max-width: 600px;
    margin: 20px auto;
}

h1 {
    color: white;
    font-weight: normal;
    text-align: center;
    background-color: steelblue;
    margin: 0;
    text-transform: uppercase;
    line-height: 1.1;
    padding: 20px 0;
}

#stripe {
    background-color: white;
    height: 30px;
    text-align: center;
    color: black;
}

.selected {
    background-color: steelblue;
    color: white;
}

#color-display {
    font-size: 200%;
}

button {
    border: none;
    background: none;
    text-transform: uppercase;
    height: 100%;
    font-weight: 700;
    color: steelblue;
    letter-spacing: 1px;
    font-size: inherit;
    transition: all 0.3s;
    --webkkit-transition: all 0.3s;
    --moz-transition: all 0.3s;
    outline: none;
}

button:hover {
    background-color: steelblue;
    color:white;
}

#message {
    display: inline-block;
    width: 20%;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: orange;
}